<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="exit"></ion-icon>
      </ion-button>

      <ion-button (click)="add()">
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Teachers List</ion-title>
  </ion-toolbar>

  <ion-searchbar #searchbar placeholder="Search" animated showCancelButton cancelButtonText="Cancel" (ionInput)="search($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="loadTeachers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngFor="let teacher of data" (click)="openDetail(teacher.id)">
      <ion-label>{{teacher.nome}}</ion-label> 
      <ion-icon slot="end" name="create"></ion-icon>   
      <ion-icon slot="end" name="close-circle" color="red"></ion-icon>   
  </ion-item>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadTeachers($event)" *ngIf="totalPage < totalData">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
